.jkk{
    font-weight: 900;
    font-size: 2rem;
}
.justifycentre{
    display: flex;
    align-content: center;
}
.justifycentre{
    display: flex;

}
.jaadu{
    font-size: 40px;
    font-weight: 900;
}