.jkk{
    font-weight: 900;
    font-size: 2rem;
}
.justifycentre{
    display: flex;
    align-content: center;
}
.justifycentre{
    display: flex;

}
.jaadu{
    font-size: 40px;
    font-weight: 900;
}
.c-btn{
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;

}