.hh{
    justify-content: center;
}
.txt2{
    color:#02549e;
    justify-content: center;
    font-size: 2rem;
}
.txt1{
    color:black;
    justify-content: center;
    font-size: 2rem;
    font-weight: 25px;
}
.txt3{
    color:black;
    justify-content: center;  
    font-size: 2rem;
    font-weight: 900;
}
.new{
    justify-content: center;
    font-size: 1.3rem;
}