.cardWidth{
    width: 270px !important;
    background-color: #02549e;
}
.images{
    background-size: cover;
    background-image: url("../images/bridge.jpeg");
    background-repeat: no-repeat;
    height: 10rem !important;
}
.imgbkg{
    background-color: rgba(0, 0, 0, 0.358) !important;
    height: 10rem !important;
}
.dealsbtn{
    border: none;
    border-radius: 12px;
    background-color: #ca0024;
    color: white;
    font-weight: 700;
    font-size: 13px;
}
.idbtn{
    background-color: white;
    color: #02549e;
    border: none;
    border-radius: 12px;
    font-weight: 700;
    font-size: 13px;
    margin-left: 9rem;
}
.bedbtn{
    border: none;
    background-color: rgba(0, 0, 0, 0); 
    color: white;
    font-size: 11px; 
    margin-top: 6rem;
}
.iconb{
    font-size: 18px !important;




}
.cardbody{
    background-color: white;
    padding: 0px;
    overflow-x: hidden;
}
.btn1{
    border: none;
    border-radius: 5px;
    background-color: #6c35a3;
    color: white;
}
.postebbtn{
color: #4380b7;
}
.datebtn{
    color: black;
    font-size: 15px;
}
.jbh{
    color: #ca0024;
    text-decoration: line-through;
}
.pname{
    font-size: 13px;
    font-weight: bold;
}
.cname{
    font-size: 13px;
    font-weight: bold;
}

.ghghg{
    color: #02549e;
}
.ghghg2{
    color: black;
}
.hmm{
    justify-content: right;

}
.sae{
    color: #02549e;
}
.sae2{
    color: black; 
}
.kkk{
    color: #ca0024;
}
.ptxt{
    font-size: 12px;
}
.yyy{
width: 100%;
height: 100%;

}
.jkk{
border-radius: 2px;


}
.dgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.scroller{
    height: 600px;
    overflow-y: scroll;
}